# Server Configuration
PORT=5000
JWT_SECRET=your-super-secret-key-that-should-be-long-and-random
CORS_ORIGINS=http://localhost:5500,https://your-frontend-domain.com   # comma‑separated list of allowed origins

# Database Configuration
MONGODB_URI='mongodb+srv://username:password@cluster.mongodb.net/database?retryWrites=true&w=majority&tls=true'

# Email Configuration (Gmail SMTP)
EEMAIL_ADDRESS='vk5457396@gmail.com'
EMAIL_PASSWORD='cnqw jvtq klsa nwtl'
